<div class="row">

  <div class="col-sm-6" *ngIf="alunoSelecionado">

    <div class="row">
      <div class="mr-auto">
        <app-titulo [title]="'Matricula: ' + alunoSelecionado.id"></app-titulo>
      </div>
      <div class="mt-1">
        <button class="btn-sm btn btn-outline-success" (click)="voltar()">Voltar</button>
      </div>
    </div>

    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" class="form-control" formControlName=name id="nameId" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">SobreNome</label>
        <input type="text" class="form-control" formControlName=secondName id="sobreNomeId" placeholder="SobreNome">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Idade</label>
        <input type="text" class="form-control" formControlName=age id="idadeId" placeholder="idade">
      </div>

      <div class="form-group">
        <button class="btn-sm btn btn-outline-success" [disabled]='!alunoForm.valid'>Enviar</button>
      </div>
    </form>
  </div>


  <div [ngClass]="{'col-sm-12': !alunoSelecionado, 'col-sm-6': alunoSelecionado}">
    <app-titulo [title]='title'></app-titulo>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Detalhes</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">SobreNome</th>
          <th scope="col">Idade</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td> <button (click)="alunoSelect(aluno)" class="btn-sm btn btn-outline-warning">Detalhe</button></td>
          <th scope="row">{{aluno.id}}</th>
          <td>{{aluno.name}}</td>
          <td>{{aluno.secondName}}</td>
          <td>{{aluno.age}}</td>
          <td>
            <div class="btn-group">
              <button (click)="openModal(template)" class="btn-sm btn btn-outline-primary">Professores</button>
              <button class="btn-sm btn btn-outline-warning">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #template>
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
      Fechar </button>
  </div>
</ng-template>
