<app-titulo [title]='title'></app-titulo>

<div *ngIf="profSelecionado">
  Professor selecionado {{profSelecionado}}
  <br>
  <button class="btn btn-default" (click)="voltar()">Voltar</button>

</div>
<div *ngIf="!profSelecionado">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores" 
      style="cursor: pointer;" 
      (click)="profSelect(professor)">
        <th scope="row">{{professor.id}}</th>
        <td>{{professor.name}}</td>
        <td>{{professor.disciplina}}</td>
      </tr>
    </tbody>
  </table>
</div>